<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Actionable connections</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: 7592n0p46e1e6i
        onLoad: linkedin_load
        authorize: true
    </script>
    <!-- ref:js js/<%= name %>.<%= version %>.min.js -->
    <!-- endref -->
    <!-- ref:js js/<%= name %>.<%= version %>.app.min.js -->
    <!-- endref -->

    <!-- build:script js --><!-- /build -->
</head>
<body>
    <div class="view" ui-view></div>
</body>
</html>
