<div class="login">
    <h1>You need to login first!</h1>
    <script type="IN/Login"></script>

    <div class="instructions">
	<h2>What is this tool?</h2>
	This tool helps you to create introduction strategy using your LinkedIn connections.
    </div>
    <div class="instructions">
	<h2>How to use this tool?</h2>
        For instructions how to use this tool- read
        <a href="http://www.almogbaku.com/blog/Thoughts-about-introductions-strategies-for-fundraising/">Almog Baku's blog post</a>
        about it.
    </div>
</div>
