<div class="report">
    <h1>Wooha~! that's your report:</h1>
    <div class="f-2" ng-if="connections[2].length">
        <h2>You probably should speak with this bros, it seems they can help you a lot!</h2>
        <ul>
            <li ng-repeat="conn in connections[2]">{{conn.firstName}} {{conn.lastName}}</li>
        </ul>
    </div>

    <div class="f-n" ng-if="connections.n.length">
        <h2>You need to get intros with:</h2>
        <ul>
            <li ng-repeat="conn in connections.n">
                {{conn.firstName}} {{conn.lastName}}
                <div ng-if="conn.mutual.length" ng-init="show=false" class="mutual">
                    Mutual connections
                    <button ng-click="show=!show">
                        <span ng-show="show">-</span>
                        <span ng-show="!show">+</span>
                    </button>
                    <ul ng-show="show">
                        <li ng-repeat="m in conn.mutual" class="mf-{{m.flag()}}">
                            {{m.firstName}} {{m.lastName}}
                            <span class="flag">
                                <input type="text" maxlength="1" ng-model="m.flag" ng-model-options="{ getterSetter: true }" ng-pattern="/^[012n]$/" ng-change="flagChanged(m.flag())" />
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="f-1" ng-if="connections[1].length">
        <h2>You may assist this friends for intros:</h2>
        <ul>
            <li ng-repeat="conn in connections[1]">{{conn.firstName}} {{conn.lastName}}</li>
        </ul>
    </div>
</div>
<footer>
    <div>
        <button ui-sref="addContact()"><i>A</i>dd connection manually</button>
        <button ng-click="exportCSV()"><i>E</i>xport data to csv</button>
        <button ng-click="loadReport()"><i>R</i>eload report</button>
    </div>
    <div>
        Press <span class="cfp-hotkeys-key">?</span> for help
    </div>
</footer>