<div class="start">
    <h1>Ready? Steady?</h1>
    <div class="welcome" ng-if="user">
        Hey {{user.firstName}} {{user.lastName}}!
    </div>
    <div class="ready" ng-show="!ready">
        Please wait while we loading your connections........
    </div>
    <div class="ready" ng-show="ready">
        Are you ready to go? <button ui-sref="connection({idx:0})"><i>S</i>tart!</button>
    </div>
    <div class="instructions">
        For instructions how to use this tool- read
        <a href="http://www.almogbaku.com/blog/Thoughts-about-introductions-strategies-for-fundraising/">Almog Baku's blog post</a>
        about it.
    </div>
</div>
<footer>
    <div>
        Press <span class="cfp-hotkeys-key">?</span> for help
    </div>
</footer>